name: Push to Docker Hub and Deploy to EC2

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
  docker:
    needs: ci
    uses: ./.github/workflows/docker-push.yml
    secrets: inherit
  deploy:
    needs: docker
    uses: ./.github/workflows/deploy-ec2.yml
    secrets: inherit
